html {
  --light--static-black: #000000;
  --light--static-white: #FFFFFF;
  --light--brand-primary: #111827;
  --light--brand-secondary: #E5E7EB;
  --light--brand-accent: #FF5C00;
  --light--ui-background: #E5E7EB;
  --light--surface-secondary: #F8F8F8;
  --light--surface-tertiary: #F3F4F6;
  --light--surface-primary: #FFFFFF;
  --light--surface-inverse-secondary: #363636;
  --light--surface-disabled: #F3F4F6;
  --light--overlay-dark: #E5E7EB;
  --light--overlay-light: #000000;
  --light--surface-accent: #C6440E;
  --light--surface-negative: #D44333;
  --light--surface-warning: #FFC043;
  --light--surface-positive: #21A453;
  --light--surface-accent-light: #FAF4E7;
  --light--surface-positive-light: #F0FAF3;
  --light--surface-negative-light: #FBEFEE;
  --light--surface-warning-light: #FFF9EF;
  --light--surface-always-dark: #000000;
  --light--surface-always-light: #FFFFFF;
  --light--content-primary: #111827;
  --light--content-secondary: #1F2937;
  --light--content-tertiary: #6B7280;
  --light--content-inverse-primary: #FFFFFF;
  --light--content-inverse-secondary: #E5E7EB;
  --light--content-inverse-tertiary: #D1D5DB;
  --light--content-disabled: #9CA3AF;
  --light--content-accent: #FF5C00;
  --light--content-on-color: #FFFFFF;
  --light--content-negative: #B91C1C;
  --light--content-warning: #D97706;
  --light--content-positive: #047857;
  --light--outline-opaque: #D1D5DB;
  --light--outline-transparent: #000000;
  --light--outline-selected: #000000;
  --light--outline-inverse-opaque: #6B7280;
  --light--outline-inverse-transparent: #FFFFFF;
  --light--outline-inverse-selected: #FFFFFF;
  --light--outline-disabled: #E5E7EB;
  --light--outline-accent: #FF5C00;
  --light--outline-accent-light: #FFBE99;
  --light--outline-negative: #FCA5A5;
  --light--outline-warning: #FDE68A;
  --light--outline-positive: #6EE7B7;
  --light--rewards-tier1: #42BBEF;
  --light--rewards-tier2: #F07F0D;
  --light--rewards-tier3: #1473DB;
  --light--rewards-tier4: #143868;
  --light--interactive-primary: #111827;
  --light--interactive-secondary: #6B7280;
  --light--interactive-tertiary: #F9FAFB;
  --light--interactive-quaternary: #FF5C00;
  --light--interactive-primary-hover: #374151;
  --light--interactive-secondary-hover: #4B5563;
  --light--interactive-tertiary-hover: #FAF4E7;
  --light--interactive-quaternary-hover: #F1A51F;
  --light--interactive-primary-active: #FF5C00;
  --light--interactive-secondary-active: #111827;
  --light--interactive-tertiary-active: #FAEBC9;
  --light--interactive-quaternary-active: #111827;
  --light--focus-accent: #FF5C00;
  --light--surface-inverse-primary: #232323;
  --light--surface-inverse-tertiary: #4F4F4F;
}
